APP_NAME="BateriaExpert-BankingMS"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8002
APP_TIMEZONE=America/Sao_Paulo
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_BR

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=ms_002_banking_db
DB_PORT=5432
DB_DATABASE=ms_banking
DB_USERNAME=postgres
DB_PASSWORD=postgres

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=array

REDIS_CLIENT=phpredis
REDIS_HOST=ms_002_banking_redis
REDIS_PORT=6379

BANKING_DRIVER=mock
BANKING_WEBHOOK_SECRET=
BANKING_POLLING_INTERVAL_MINUTES=15
