APP_NAME="BateriaExpert-NotificationMS"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8003
APP_TIMEZONE=America/Sao_Paulo
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_BR

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=ms_003_notification_db
DB_PORT=5432
DB_DATABASE=ms_whatsapp
DB_USERNAME=postgres
DB_PASSWORD=postgres

REDIS_HOST=ms_003_notification_redis
REDIS_PORT=6379

N8N_WHATSAPP_WEBHOOK=http://ms_003_n8n:5678/webhook/whatsapp-trigger
N8N_URL=http://ms_003_n8n:5678
EVOLUTION_API_KEY=BateriaExpertSecretKey
EVOLUTION_API_URL=http://ms_003_evolution:8080
NOTIFICATION_DEFAULT_DRIVER=whatsapp
