APP_NAME="BateriaExpert-OpenFinanceMS"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8004
APP_TIMEZONE=America/Sao_Paulo
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_BR

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=ms_004_openfinance_db
DB_PORT=5432
DB_DATABASE=ms_openfinance
DB_USERNAME=postgres
DB_PASSWORD=postgres

REDIS_HOST=ms_004_openfinance_redis
REDIS_PORT=6379

OPENFINANCE_TOKEN_KEY=qwertyuiopasdfghjklzxcvbnm123456
OPENFINANCE_DEFAULT_PROVIDER=mock
