APP_NAME="BateriaExpert-FiscalMS"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001
APP_TIMEZONE=America/Sao_Paulo
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_BR

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=ms_001_fiscal_db
DB_PORT=5432
DB_DATABASE=ms_fiscal
DB_USERNAME=postgres
DB_PASSWORD=postgres

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=array

REDIS_CLIENT=phpredis
REDIS_HOST=ms_001_fiscal_redis
REDIS_PORT=6379

ACBR_DRIVER=mock
ACBR_CERT_PATH=
ACBR_CERT_PASSWORD=
ACBR_CONTINGENCY_MAX_ATTEMPTS=10
